
<div class="container">
  <div class="welcome">Welcome to CSE Motors!</div>
  <div class="hero">
    <div class="hero-content">
      <h1>DMC Delorean</h1>
      <%- messages() %>
      <ul>
      <li>3 Cup holders </li>
      <li>Superman doors </li> 
      <li>Fuzzy dice!</li>
      </ul>
      <img src ="/images/site/own_today.png" alt="Own Today">
      </div>
      <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
  </div>
<div class="flex-container"> 
  <div>
  <h2>Delorean Upgrades</h2>
  <div class="grid">
      <div>
          <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
          <a title="Flux Capacitor" href="#">Flux Capacitor</a>
      </div>
      <div>
          <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
          <a title="Flame Decals" href="#">Flame Decals</a>
      </div>
      <div>
          <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
          <a title="Bumper Sticker" href="#">Bumper Sticker</a>
      </div>
      <div>
          <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
          <a title="Hub Caps" href="#">Hub Caps</a>
      </div>
  </div>
 </div>
 <div> 
  <h2>DMC Delorean Reviews</h2>
  <div class="grid">
    <p class="reviews">
      "So fast it's almost like traveling in time." (4/5)<br>
      "Coolest ride on the road." (4/5)<br>
      "I'm feeling McFly!" (5/5)<br>
      "The most futuristic ride of our day." (4.5/5)<br>
      "80's livin' and I love it!" (5/5)<br>
      </p>
  </div>
</div>
</div>
</div>
