<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE Motors</title>
</head>
<header>
  <div><strong>CSE Motors</strong></div>
  <nav>
      <a href="#">Home</a>
      <a href="#">Custom</a>
      <a href="#">Sedan</a>
      <a href="#">SUV</a>
      <a href="#">Truck</a>
  </nav>
  <div><a href="#">My Account</a></div>
</header>
<div class="container">
  <div class="hero">
      <h1>Welcome to CSE Motors!</h1>
      <h2>DMC Delorean</h2>
      <p>3 Cup holders, Superman doors, Fuzzy dice!</p>
      <a href="#">Own Today</a>
      <img src="delorean.png" alt="DMC Delorean">
  </div>

  <h2>Delorean Upgrades</h2>
  <div class="grid">
      <div>
          <img src="./public/images/upgrades/flux-cap.png" alt="Flux Capacitor">
          <p>Flux Capacitor</p>
      </div>
      <div>
          <img src="./public/images/upgrades/flame.png" alt="Flame Decals">
          <p>Flame Decals</p>
      </div>
      <div>
          <img src="./public/images/upgrades/bumper-sticker.png" alt="Bumper Stickers">
          <p>Bumper Stickers</p>
      </div>
      <div>
          <img src="./public/images/upgrades/hub-cap.png" alt="Hub Caps">
          <p>Hub Caps</p>
      </div>
  </div>

  <h2>DMC Delorean Reviews</h2>
  <div class="grid">
      <div>"So fast it's almost like traveling in time." (4/5)</div>
      <div>"Coolest ride on the road." (4/5)</div>
      <div>"I'm feeling McFly!" (5/5)</div>
      <div>"The most futuristic ride of our day." (4.5/5)</div>
      <div>"80's livin' and I love it!" (5/5)</div>
  </div>
</div>

<footer>
  &copy; 2025, CSE 340 App
</footer>

</body>
</html>